table,th,td {
	border: 1px solid black;
	width:80%;
	border-collapse: collapse;
	text-align: center;
	}
	.border{border: 1px solid black}
	.width-200{width:200px}
	.height-150{height:150px}
	.height-400{height:400px}
	.margin-auto{margin: 0 auto}
	.margin-200-auto{margin: 200px auto}
	.image-size{width:100%; height:393px}
	.text-align{text-align: center}
	.width-50{width:50px}